@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

$main-font: 'Nunito', sans-serif;
$green: #29a19c;
$yellow: #ecca75;
$red: #f05454;
$white: #fafafa;
$abs-white: #ffffff;
$bg-white: #FEFEFE;
$black: #282846;



@mixin icon($w,$h,$icon-name) {
    display: block;
    font-size: 0;
    width: $w;
    height: $h;
    background: url("/public/images/icons/#{$icon-name}.svg") center/cover;

}

#app {
    font-family: $main-font;
    color: $black;
    background-color: $white;
}
