@import "reset.css";
@import "general";

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background: $green;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d726e;
}


.body-main {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}


.icon-complete {
    @include icon(26px, 26px, 'complete')
}

.icon-delete {
    @include icon(26px, 26px, 'delete')
}

.icon-tag {
    @include icon(15px, 15px, 'tag')
}

.icon-category{
    @include icon(13px, 13px, 'category-1')
}

.icon-rewrite {
    @include icon(20px, 20px, 'rewrite');
}

.icon-postpone {
    @include icon(20px, 20px, 'postpone');
}

.icon-share {
    @include icon(20px, 20px, 'share');
}

.icon-show-all {
    @include icon(20px, 20px, 'show_all')
}

.icon-priority_1 {
    @include icon(11px, 20px, 'priority_high')
}

.icon-priority_2 {
    @include icon(11px, 20px, 'priority_medium')
}

.icon-priority_3 {
    @include icon(11px, 20px, 'priority_low')
}

.icon-user {
    @include icon(22px, 22px, "user")
}

.icon-moon {
    @include icon(20px, 20px, "moon")
}

.icon-settings {
    @include icon(20px, 20px, "settings")
}

.icon-logout {
    @include icon(17px, 20px, "logout")
}
