@import "../general";


.icon-complete {
    @include icon(26px, 26px, 'complete')
}

.icon-delete {
    @include icon(26px, 26px, 'delete')
}

.icon-tag {
    @include icon(15px, 15px, 'tag')
}

.item-task {
    display: flex;
    position: relative;
    margin-bottom: 30px;
}

.task-card {
    width: 700px;
    padding: 20px;
    background-color: $bg-white;
    border-radius: 10px;
    border: 1px solid rgba(41, 161, 156, 0.3);
}


.task-complete, .task-delete {
    position: absolute;
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 73px -27px rgb(33, 32, 33);

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
        color: $white;
        background-color: transparent;
        border: none;
        cursor: pointer;
        box-shadow: inset 0 0 73px -27px rgb(33, 32, 33);
    }
}

.task-delete {
    display: none;
    background-color: $red;
    border-radius: 10px 0 0 10px;
    transition: left 200ms ease;

    button {
        border-radius: 10px 0 0 10px;
    }

}


.task-complete {
    right: 0;
    display: none;
    background-color: $green;
    border-radius: 0 10px 10px 0;
    transition: right 200ms ease;

    button {
        border-radius: 0 10px 10px 0;
    }
}


.activate {
    display: flex;
}

.task-header {
    color: rgba(40, 40, 70, 0.3);
    display: flex;
    align-items: center;
    gap: 40px;
}

.task-card-category {
    display: flex;
    align-items: center;
    gap: 7px;

    i {
        width: 13px;
        height: 13px;
    }
}

.task-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    gap: 300px;

    h3 {
        a {
            color: $black;
            font-size: 20px;

            &:hover {
                color: rgba(40, 40, 70, 0.7);
            }
        }
    }

    i {
        width: 13px;
        height: 18px;
    }
}

.task-footer {
    display: flex;
    justify-content: space-around;

    button {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 10px;
        color: rgba(40, 40, 70, 0.7);
        background-color: transparent;
        border: none;
    }
}


.icon-rewrite {
    @include icon(20px, 20px, 'rewrite');
}

.icon-postpone {
    @include icon(20px, 20px, 'postpone');
}

.icon-share {
    @include icon(20px, 20px, 'share');
}

.icon-show-all {
    @include icon(20px, 20px, 'show_all')
}

.task-list {
    padding: 0 50px;
    border-radius: 8px;

    .list-header {
        color: $green;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

}

.pagination-tasks {
    display: flex;
    margin: 0 auto;
    background-color: $abs-white;
    border: 1px solid rgba(41, 161, 156, 0.3);
    width: min-content;
    border-radius: 5px;
    font-size: 18px;

    nav {
        display: flex;

        svg {
            width: 25px;
        }

        .flex {
            display: none;
        }

        p.text-sm {
            display: none;
        }

        span.relative {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $black;
        }

        span.cursor-default {
            opacity: .4;
        }
    }
}

.task-card-tag {
    display: flex;
    align-items: center;
    gap: 10px;
    color: hsl(206, 100%, 40%);
    background-color: hsl(206, 96%, 90%);
    padding: 5px 7px;
    border-radius: 5px;

}

.task-card-reaction {
    display: flex;
    gap: 10px;

    img {
        width: 41px;
        height: 36px;

    }

    .reaction-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;

        span {
            color: hsl(206, 100%, 40%);
        }
    }
}

.child {
    padding-left: 90px;

    .task-card {
        width: 90%;
    }

    .task-header {
        gap: 27px;
    }
}


